{% set intro = g.site_intro_text %}

<div class="module-content box">
  <header>
    {% if intro %}
      {{ h.render_markdown(intro) }}
    {% else %}
      <h1 class="page-heading">{{ _("Welcome to the CO2 DataShare prototype portal") }}</h1>
      <p> The CO<sub>2</sub> DataShare online portal is an initiative by the
          international CO<sub>2</sub> Storage Data Consortium, with the goal to make
          available curated and well-documented datasets from CO<sub>2</sub> storage projects. </p> {% endif %}
  </header>

  {% block home_image %}
    <section class="featured media-overlay hidden-xs">
      <h2 class="media-heading">
        {% block home_image_caption %}
          {{ _('CO2 Data Share: The online platform of the CO2 Storage Data Consortium') }}
        {% endblock %}
      </h2>
      {% block home_image_content %}
        <a class="media-image" href= {{ h.url_for(controller='package', action='search') }}>
          <img src="/csdc.jpg" alt='CO2 Data Share: The CO2 Storage Data Consortium' width="420" height="270" />
        </a>
      {% endblock %}
    </section>
  {% endblock %}
</div>
