{% ckan_extends %}

{% block resource_content %}
  {% block resource_read_title %}
    <h1 class="page-heading">{{ h.resource_display_name(res) | truncate(50) }}</h1>
  {% endblock %}
  
  {% block resource_read_url %}
    {% if res.url and h.is_url(res.url) %}
      <p class="text-muted ellipsis">
        {{ _('URL:') }}
        <a class="resource-url-analytics" href="{{ res.url }}" title="{{ res.url }}">
          {{ res.url }}
        </a>
      </p>
    {% elif res.url %}
      <p class="text-muted break-word">{{ _('URL:') }} {{ res.url }}</p>
    {% endif %}
  {% endblock %}
  <div class="prose notes" property="rdfs:label">
    {% if res.description %}
      <h2> Description </h2>
      {{ h.render_markdown(res.description) }}
    {% endif %}
    {% if not res.description and c.package.notes %}
      <h2>{{ _('From the dataset abstract') }}</h2>
      <blockquote>
        {{ h.markdown_extract(h.get_translated(c.package, 'notes')) }}
      </blockquote>
      <p>
        {% trans dataset=c.package.title, url=h.url_for(controller='package', action='read', id=c.package['name']) %}
          Source: <a href="{{ url }}">{{ dataset }}</a>
        {% endtrans %}
      </p>
    {% endif %}
    {%  if res.purpose %}
      <h2>Purpose:</h2>
      {{ h.render_markdown(res.purpose) }}
    {% endif %}
    {%  if res.assumptions %}
      <h2>Assumptions:</h2>
      {{ h.render_markdown(res.assumptions) }}
    {% endif %}
    
  </div>
{% endblock %}


{% block data_preview %} 
  {# Disable data preview, at least for the time being #} 
{% endblock %} 

{% block resource_additional_information %}
    {% if res %}
      <section class="module">
        {% block resource_additional_information_inner %}
        <div class="module-content">
          <h2>{{ _('Additional Information') }}</h2>
          <table class="table table-striped table-bordered table-condensed">
            <thead>
              <tr>
                <th scope="col">{{ _('Field') }}</th>
                <th scope="col">{{ _('Value') }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">{{ _('Data last updated') }}</th>
                <td>{{ h.render_datetime(res.last_modified) or h.render_datetime(res.created) or _('unknown') }}</td>
              </tr>
              <tr>
                <th scope="row">{{ _('Metadata last updated') }}</th>
                <td>{{ h.render_datetime(res.revision_timestamp) or h.render_datetime(res.created) or _('unknown') }}</td>
              </tr>
              <tr>
                <th scope="row">{{ _('Created') }}</th>
                <td>{{ h.render_datetime(res.created) or _('unknown') }}</td>
              </tr>

              <tr>
                <th scope="row">{{ _('Category') }} </th>
                <td> {{res.category}} - {{ h.category_name(res.category) }} </td>
              </tr>

              
              <tr>
                <th scope="row">{{ _('Download format') }}</th>
                <td>{{ res.mimetype_inner or res.mimetype or res.format or _('unknown') }}</td>
              </tr>

              {% set license = h.get_license(pkg.cdslicense) %}
              <tr> 
                <th scope="row" class="dataset-label">{{ _("License") }} </th>
                
                <td class="dataset-details"> 
                  {% if license %}
                    <a href="{{ h.url_for('cdsmetadata.view_license', id=license.id) }}">
                      {{license.name}}
                    </a>
                  {% else %} 
                    <i>unspecified</i> 
                  {% endif %} 
                </td> 
              </tr>

              {% if res.dataformat %}
                <tr>
                  <th scope="row">Data format</th>
                  <td>
                    <a href="{{ h.url_for('cdsmetadata.view_dataformat', id=res.dataformat)}}">
                      {{ h.dataformat_name(res.dataformat) }}
                    </a>
                  </td>
                </tr>
              {% endif %}
              
              {% if res.sources %}
                {% set sourcelist = h.sourcelist( res.sources ) %}
                <tr>
                  <th scope="row"> Sources </th>
                  <td>
                    {% for item in sourcelist %}
                      <a href="{{ item[1] }}">
                        {{ item[0] }}
                      </a>
                      <br>
                    {% endfor %}
                  </td>
                </tr>
                {% endif %}

              {% for key, value in h.format_resource_items(res.items()) %}  
                {% if key == 'format' or key == 'size' %}  
                  <tr class="toggle-more"><th scope="row">{{ key }}</th><td>{{ value }}</td></tr>  
                {% endif %}  
              {% endfor %}  
            </tbody>
          </table>
        </div>
        {% endblock %}
      </section>
    {% endif %}
{% endblock %}

