{% ckan_extends %}

{{ super() }}

{# removes the "groups" box form the sidebar in the datasets search page #}
{% block secondary_content %}
<div class="filters">
  <div>
    {% for facet in c.facet_titles %}
      {% if facet != "groups" %}
        {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet) }}
      {% endif %}
    {% endfor %}
  </div>
  <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a>
</div>
{% endblock %}

{# remove mention of the api #}
{% block package_search_results_api %}
{% endblock %}
