{% extends "page.html"%}

{% import 'macros/form.html' as form %}


{% block primary_content_inner %}

  <h1 class="heading"> This is the landing page upload form for package "{{ h.dataset_display_name(pkg) }}"</h1>
  
<p> Upload a zip file with the following elements:</p>
<p>
  <li> A html file named 'index.html' </li>
  <li> A folder named 'static', containing all images and other static material referenced by the html file</li>
</p>

{% set data = data or {} %}
{% set errors = errors or {} %}

<form method="POST"
      enctype="multipart/form-data"
      {# action="{{ h.url_for('cdslandingpage.landing_page_upload', pkg_name=pkg_name) }}" >  #}
      {{ form.input('zipfile', id='field-zipfile', label='Landing page zip file',
                     type='file', value='', placeholder='file.zip', error=errors) }}  

      <div class="form-actions">
        <button class="btn btn-primary" name="save" value={{pkg_name}} type="submipt">
          {{_('Upload')}}
        </button>
        <button class="btn btn-danger" data-module="confirm-action"
                name="delete" value={{pkg_name}} type="submit">
                {{_('Remove any existing page')}}
        </button>
      </div>

      {# <input type="submit" value="upload"> #}
      {# <input type="submit" value="delete existing page"> #}

</form> 

{% endblock %}
