{% extends "edit_metadata.html" %}
{% set first_name = g.cur_item['first_name'] or "" %}
{% set last_name = g.cur_item['last_name'] or "" %}
{% set email = g.cur_item['email'] or "" %}

{# Affiliation-related #}
{% set affiliations = g.cur_item['affiliation'] or [] %}
{% set orglist_aff = g.extra['orglist_aff'] %}

{# Contact person related (organization #}
{% set contact_org = g.cur_item['contact_org'] or [] %}
{% set orglist_contact = g.extra['orglist_contact'] %}


{% block styles %}
  {{ super() }}
  {% resource "cdsmetadata/multiselect_extra.js" %}
{% endblock %}


{% block dataformat_subheading %}
  <h2>Edit Person</h2>
{% endblock %} 

{% block metadata_form_fields %}
  
  {{ form.input('first_name', id='field-first_name', label=_('First name'),
     value=first_name, error=errors.first_name, classes=['control-full']) }} 

  {{ form.input('last_name', id='field-last_name', label=_('Last name'),
     value=last_name, error=errors.last_name, classes=['control-full'], is_required=true) }} 
  
  {{ form.input('email', label=_('Email'), id='field-email', type='email', value=email,
     error=errors.email, placeholder=_('eg. joe@example.com'), classes=['control-medium'],
     is_required=true) }}

  {# ============================ Input affiliations ============================ #}
  
  <div onclick="multiselect_synclist('affiliation', 'affiliation-list')">
       <i>(hold down CTRL for multiselect)</i>
    {{ formext.multiselect('affiliation', 
                           label=_('Update Affiliation(s)'), 
                           error=errors.affiliation, 
                           classes='control-large', 
                           attrs={'multiple': 'true', 'style': 'width: 100%'}, 
                           options=orglist_aff) }}
  </div>
  <b>Currently chosen affiliations</b> 
  {# list previous affiliations #}
  <div id="affiliation-list">
    {% for aff in affiliations %}
      <li> {{ aff[1] }} </li>
    {% endfor %} 
  </div>
  <br><br>

  {# ============================ Input "contact org" ============================ #}

  <div onclick="multiselect_synclist('contact_org', 'contact_org-list')">
       <i>(hold down CTRL for multiselect)</i>
    {{ formext.multiselect('contact_org', 
                           label=_('Update Organizational contact(s)'), 
                           error=errors.contact_org, 
                           classes='control-large', 
                           attrs={'multiple': 'true', 'style': 'width: 100%'}, 
                           options=orglist_contact) }}
  </div>
  <b>Currently chosen contact organization</b> 
  <div id="contact_org-list">
    {% for org in contact_org %}
      <li> {{ org[1] }} </li>
    {% endfor %} 
  </div>  

  
  <b>Contact person for (organization)</b>
  <br>
  <b>Contact person for (dataset)</b>
  <br>
  <b>Contributor to (dataset)</b>
  <br>
              
{% endblock %} 

              
