<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-info-circle"></i>
    {{ _('What metadata is edited here?') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %}
      This page lets system administrators enter metadata relating to data
      formats, publications and licenses.
      {% endtrans %}
    </p>
    <p>
      {% trans %}
      On the other hand, metadata relating to users, datasets or organizations
      is not provided here, but entered directly in the corresponding web pages.
      {% endtrans %}
    </p>
  </div>
</div>
