<h2>About CO2 DataShare</h2>

<p>The CO2 DataShare online portal is an initiative by the CO2 Storage Data Consortium, with the goal to make available reference datasets from industry and pilot projects demonstrating geological CO2 storage. The current prototype is for invited test users only. The public launch is scheduled for September 2019. Read more about the project <a href="https://www.sintef.no/en/projects/co2-storage-data-consortium-sharing-data-from-co2-storage-projects/">here</a>.<p>

<h2>Sharing and accessing CO2 storage data:</h2>

<p>CO2 DataShare aims to share high-quality datasets from pilot, demonstration and industry-scale projects to enable research and development essential for building confidence in CO2 storage as a greenhouse gas control strategy. All published reference datasets will be presented on the online portal, from which they may be searched and explored.</p>

<p>All documentation and other metadata are openly accessible. When it comes to data access itself, the default and preferred model is for datasets to be freely downloadable under an open license.</p>

<p>Data documentation, filling-in of metadata and clarifying access rights and licensing terms are tasks done by the data provider in close dialogue with CO2 DataShare.</p>

<p>When the CO2 DataShare portal is launched in September 2019, datasets can be accessed and downloaded by all users that have created an account. Until then, access is given by invitation only.</p>

<p>For dialogue on reference datasets that could be relevant for sharing, please contact the CO2 Storage Data Consortium: CSDC-secretariat@sintef.no. (please note that the contact person will be away from July 2 to July 17)</p>
