{% import 'macros/form.html' as form %}
{% import 'formext.html' as formext %}


{% block package_metadata_fields %}

  {# ========================= Input spatial coordinates ========================= #}
  <div class="col-xs-6">
    <i class="fa fa-info-circle"></i>
    <i>Format: '&lt;lon&gt;, &lt;lat&gt;', using WGS 84 (SRID 4326)</i>
  {{form.input('location', id='field-location', label=_('Geolocation'),
    value=data.location, placeholder='<lon>, <lat>',
    error=errors.location, classes='control-medium') }}
  </div>

  <div style="clear: both;"></div>
  
  {# ============================ Input project type ============================ #}
  {% set project_types = h.project_types() %} 

  <div class="col-xs-6">
  {{ form.select('project_type', id='field-project_type', label=_('Project type'),
                 options=project_types, selected=data.project_type or project_types[0],
                 error=errors.project_type, classes='control-large') 
  }} 
  </div>
    
  {# ============================ Input access level ============================ #}
  {% set access_levels = h.access_levels() %}
  <div class="col-xs-6">
  {{ form.select('access_level', id='field-access_level', label=_('Access level'),
                 options=access_levels, selected=data.access_level or access_levels[0],
                 error=errors.access_level, classes='control-large') 
  }} 
  </div>

  <div style="clear: both;"></div>
  
  {# ============================ Input release date ============================ #}
  <span class="info-block info-inline">
    <i class="fa fa-info-circle"></i>
    <i>(If a future release date is chosen, the dataset will be in embargo until
    that date.)</i>
  </span>
  {% set date_val = h.date_today() if not data.release_date
  else h.ensure_date_format(data.release_date) %}
  {{ date_val}}
  {{form.input('release_date', id='field-release_date', label=_('Release date'),
               value=date_val, type="date", error=errors.release_date,
               classes='control-medium') }}
  
  {# ========================== Input temporal coverage ========================== #}

  <div class="col-xs-6">

    {% set date_start = h.date_today() if not data.temporal_coverage_start
                        else h.ensure_date_format(data.temporal_coverage_start) %}
    {% set date_end   = h.date_today() if not data.temporal_coverage_end
                        else h.ensure_date_format(data.temporal_coverage_end) %}
    
      {{form.input('temporal_coverage_start', id='field-temporal_coverage_start',
                   label=_('Coverage start date'),
                   value=date_start,
                   type="date", error=errors.temporal_coverage_start,
                   classes='control-medium') }}
      </div>
      <div class="col-xs-6">
      {{form.input('temporal_coverage_end', id='field-temporal_coverage_end',
                   label=_('Coverage end date'),
                   value=date_end,
                   type="date", error=errors.temporal_coverage_end,
                   classes='control-medium') }}
      </div>

      
  {# ======================= Input contributors (persons) ======================= #}
  {% set person_contributor = c.pkg_dict['person_contributor'] %}
  {% set person_contributor_listitems = h.personlist(person_contributor) %}
  {# {% set person_contributor_listitems = h.personlist(data.person_contributor) %} #}
  
  <div class="col-xs-6">
    <div onclick="multiselect_synclist('person_contributor', 'person_contributor-list')">
      <i>(hold down CTRL for multiselect)</i>
      {{ formext.multiselect('person_contributor', 
                               label=_('Update personal contributors'), 
                               error=errors.person_contributor, 
                               classes='control-large', 
                               attrs={'multiple': 'true', 'style': 'width: 100%'}, 
                               options=person_contributor_listitems) }}
      </div>
      <b>Currently chosen person contributors</b>
      <div id="person_contributor-list">
        {% for per in person_contributor %}
          <li> {{ per[1] }} </li>
        {% endfor %} 
      </div>
  </div>


  {# ==================== Input contributors (organizations) ==================== #}
  {% set org_contributor = c.pkg_dict['org_contributor'] %}
  {% set org_contributor_listitems = h.orglist(org_contributor) %}
  {# {% set org_contributor_listitems = h.orglist(data.org_contributor) %} #}

  <div class="col-xs-6">
    <div onclick="multiselect_synclist('org_contributor', 'org_contributor-list')">
      <i>(hold down CTRL for multiselect)</i>
      {{ formext.multiselect('org_contributor', 
                               label=_('Update organization contributors'), 
                               error=errors.org_contributor, 
                               classes='control-large', 
                               attrs={'multiple': 'true', 'style': 'width: 100%'}, 
                               options=org_contributor_listitems) }}
      </div>
      <b>Currently chosen organization contributors</b>
      <div id="org_contributor-list">
        {% for per in org_contributor %}
          <li> {{ per[1] }} </li>
        {% endfor %} 
      </div>
  </div>

  <div style="clear: both;"><br><br></div>

  {# ========================== Input contact person(s) ========================== #}
  {# {% set contact_person_listitems = h.personlist(data.contact_person) %} #}
  {% set contact_person = c.pkg_dict['contact_person'] %}
  {% set contact_person_listitems = h.personlist(contact_person) %}

  <div class="col-xs-6">
    <div onclick="multiselect_synclist('contact_person', 'contact_person-list')">
      <i>(hold down CTRL for multiselect)</i>
      {{ formext.multiselect('contact_person', 
                             label=_('Update contact person(s)'), 
                             error=errors.contact_person, 
                             classes='control-large', 
                             attrs={'multiple': 'true', 'style': 'width: 100%'}, 
                             options=contact_person_listitems) }}
      </div>
      <b>Currently chosen contact person(s)</b>
      <div id="contact_person-list">
        {% for per in contact_person %}
          <li> {{ per[1] }} </li>
        {% endfor %} 
      </div>
  </div>

  {# ========================= Input related datasets() ========================= #}
  {% set cur_id = c.pkg.id %}
  {% set related_dataset = c.pkg_dict['related_dataset'] %} 
  {% set related_dataset_listitems = h.dsetlist(related_dataset, cur_id) %} 
  
  <div class="col-xs-6">
    <div onclick="multiselect_synclist('related_dataset', 'related_dataset-list')">
      <i>(hold down CTRL for multiselect)</i>
      {{ formext.multiselect('related_dataset', 
                             label=_('Update list of related datasets'), 
                             error=errors.related_dataset, 
                             classes='control-large', 
                             attrs={'multiple': 'true', 'style': 'width: 100%'}, 
                             options=related_dataset_listitems) }}
      </div>
      <b>Currently related dataset(s)</b>
      <div id="related_dataset-list">
        {% for dset in related_dataset %}
          <li> {{ dset[1] }} </li>
        {% endfor %} 
      </div>
  </div>
  
  <div style="clear: both;"><br><br></div>  

  {# ============================= Input references ============================= #}

  {% set publications = c.pkg_dict['publications'] %}
  {% set publications_listitems = h.publist(publications) %} 
  {# {% set publications_listitems = h.publist(data.publications) %}  #}
  
  <div onclick="multiselect_synclist('publications', 'publication-list')">
    <i>(hold down CTRL for multiselect)</i>
    {{ formext.multiselect('publications', 
                           label=_('Update publication list'), 
                           error=errors.publication, 
                           classes='control-large', 
                           attrs={'multiple': 'true', 'style': 'width: 100%'}, 
                           options=publications_listitems) }}
  </div>
  <b>Currently chosen publications</b>
  <div id="publication-list">
    {% for per in publications %}
      <li> {{ per[1] }} </li>
    {% endfor %} 
  </div>

  <br><br>

  {# ================================= Input DOI ================================= #}

  {{ form.input('doi', id='field-doi', label='Digital Object Identifier (DOI)', error=errors.doi,
                value=data.doi, classes=['control-medium']) }}

  <br><br>

  {# ===================== Old CKAN metadata (only keep 'Source') ===================== #}
  
  {% block package_metadata_fields_url %}
    {{ form.input('url', label=_('Source'), id='field-url', placeholder=_('http://example.com/dataset.json'), value=data.url, error=errors.url, classes=['control-medium']) }}
  {% endblock %}


  {% block package_metadata_fields_custom %}
    {% block custom_fields %}
      {# {% snippet 'snippets/custom_form_fields.html', extras=data.extras, errors=errors, limit=3 %} #}
    {% endblock %}
  {% endblock %}

  {% block dataset_fields %}
  {% endblock %}

{% endblock %}
