{% ckan_extends %}

{% block package_basic_fields_license %}
  {# We do not use the license mechanism of CKAN, due to the apparent lack of #}
  {# support for adding new licenses.  We therefore change the license input. #}
  <div class="form-group">
    {% set available_licenses = h.licenselist() %}
    {% set error = errors.cdslicense %} 
    <label class="control-label" for="field-cdslicense">{{ _("License") }}</label> 
    <div class="controls"> 
      <div class="row"> 
        <div class="col-md-6"> 
          <select id="field-cdslicense" name="cdslicense"> 
            {% set existing_cdslicense = data.get('cdslicense') %}
            {% for l in available_licenses %}
              <option value="{{ l.value }}" {% if existing_cdslicense == l.value %} selected="selected"{% endif %}> {{ l.text }} </option>
            {% endfor %}
          </select> 
          {% if error %}<span class="error-block">{{ error }}</span>{% endif %} 
        </div> 
      </div> 
    </div> 
  </div>


{% endblock %} 

{% block package_metadata_fields_visibility %}
  {# we do not want to use the 'visibility' flag - all datasets should be flagged #}
  {# 'public' here, so that metadata will be visible to everyone #}
{% endblock %}
