{% ckan_extends %}

{% block resource_item_title %}
  {% if res.category %}
    {% set catname = res.category + " - " + h.category_name(res.category) %}
  {% else %}
    {% set catname = "category not specified" %}
  {% endif %}
  <a class="heading" href="{{ url }}" title="{{ res.name or res.description }}">
    {{ h.resource_display_name(res) }} 
    
    <span class="format-label" property="dc:format" data-format="{{ res.format.lower() or 'data' }}">{{ h.get_translated(res, 'format') }}</span>
    {% if 'tracking_summary' in res %} 
      {{ h.popular('views', res.tracking_summary.total, min=10) }}
    {% endif %}
  </a>
  <p class="description"><em><strong>{{"(" + catname + ")" }}</strong></em></p>
  
{% endblock %}
