@media (min-width: 768px) {
    .hero {
      background: url("/base/images/background_tile_2.png");
      background-size: 600px 600px;
      background-repeat: repeat-xy;
    }
  }

.attribution .sigma2-footer-logo {
  display: block;
  width: 120px;
  height: 21px;
  margin-top: 2px;
  background: url("../../../base/images/sigma2-footer.png") no-repeat top left;
  text-indent: -900em;

}
