{% extends "edit_metadata.html" %} 

{% set resource_classes = h.resource_categories() %}
{% set title = g.cur_item['title'] or "" %}
{% set errors = g.errors or None %}
{% set description = g.cur_item['description'] or None %}
{% set datatype = g.cur_item['datatype'] or None %}
{% set enum_items = g.cur_item['enum_items'] or None %}
{% set available_datatypes = g.extra['available_datatypes'] %}
{% set current_mapping = g.extra['current_mapping'] %}

{% set category = g.cur_item['category'] or None %}
{% if category  %}
  {% set category_id = category['code'] %}
{% endif %}

{% block styles %} 
  {{ super() }} 
  {% resource "cdsmetadata/category_metadata.js" %}
  {% resource "cdsmetadata/init_edit_category_metadata.js" %}
{% endblock %} 

{% block dataformat_subheading %}
  <h2>Edit Category Metadata</h2>
{% endblock %} 

{% block metadata_form_fields %}

  <div id='category_select_form'>
       
       {{ form.select('category', id='field-category', label=_('Resource category'),
       options=resource_classes, 
       selected=category_id or category or resource_classes[0].value,
       error=errors.category,
       attrs={'onchange': 'activate_relevant_tables()', 'class': 'form-control'},
       classes=['control-large'])
       }}
  </div>
  
  {% for c in current_mapping %}
    <div id={{c}} class='cat_atts' style='display: none;'>
      {% if current_mapping[c] %}
        <p> <i class="fa fa-info-circle"> Currently defined attributes for category {{c}} are: </i></p>
        
        <table class="table table-striped table-bordered table-condensed">
          <thead>
          </thead>
          <tr>
            <th scope='col'> <i>Title</i> </th>
            <th scope='col'> <i>Datatype</i></th>
          </tr>
          <tbody>
            {% for m in current_mapping[c] %}
              <tr>
                <td><i> {{m.title}} </i></td>
                <td><i> {{m.datatype}} </i></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
  {% endfor %}
  <br>
  
  {{ form.input('title', id='field-title', label=_('Attribute title'),
                value=title, error=errors.title, classes=['control-full'])
  }} 

  
  <div id='datatype_select_form'>

    {{ form.select('datatype', id='field-datatype', label=_('Attribute datatype'),
       options=available_datatypes, selected=datatype or available_datatypes[0],
       attrs={'onchange': 'set_enum_input_visibility()', 'class': 'form-control'},
       error=errors.available_datatypes,
       classes='control-large') 
    }}
  </div>

  <div id='enum-input' style='display: none;'>
    {% set tag_attrs = {'data-module': 'autocomplete', 'data-module-tags': ''} %}
  {{
    form.input('enum_items', id='field-enum_items', value=enum_items,
               placeholder="Enter comma-separated values", error=errors.enum,
               attrs=tag_attrs,
               classes=['control-full'], label=_('Enumeration items'))
  }}
  </div>
  
  {{ form.textarea('description', id='field-description', value=description,
                   placeholder='Document your metadata attribute here', 
                   label=_('Attribute documentation'), error=errors.description, 
                   classes='control-large') 
  }} 

  
{% endblock %} 
