{% set intro = g.site_intro_text %}

<div class="module-content box">
  <header>
    {% if intro %}
      {{ h.render_markdown(intro) }}
    {% else %}
      <h1 class="page-heading">{{ _("Welcome to the CO2 DataShare prototype portal") }}</h1>
      <p> The CO2 DataShare online portal is an initiative by the CO2 Storage
          Data Consortium, with the goal to make available datasets on real
          geological CO2 storage operations.  The current prototype is for
          invited test users only.  The public launch is scheduled for September
          2019. </p> {% endif %}
  </header>

  {% block home_image %}
    <section class="featured media-overlay hidden-xs">
      <h2 class="media-heading">
        {% block home_image_caption %}
          {{ _('CO2 Data Share: The online platform of the CO2 data storage consortium') }}
        {% endblock %}
      </h2>
      {% block home_image_content %}
        <a class="media-image" href="#">
          <img src="/CSDC_4.jpg" alt='CO2 Data Share: The CO2 data storage consortium' width="420" height="270" />
        </a>
      {% endblock %}
    </section>
  {% endblock %}
</div>





{# {% ckan_extends %} #}

{# {% block home_image_caption %} #}
{#     {{ _('CO2 Data Share: The online platform of the CO2 data storage consortium') }} #}
{# {% endblock %} #}

{# {\# This block replaces the promoted image on the frontpage with a custom one #\} #}
{# {% block home_image_content %} #}
{#     <a class="media-image" href="#"> #}
{#         <img src="/CSDC_4.jpg" alt='CO2 Data Share: The CO2 data storage consortium' width="420" height="270" /> #}
{#     </a> #}
{# {% endblock %} #}
