{% ckan_extends %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="/base/css/CO2Datashare_main.css" />
{% endblock %}

{# {{ super() }} #}

{# Remove the links to CKAN API and CKAN ASSOCIATION from the footer of the pages
    and invert the position of the language selector and the attribution #}


{% block footer_content %}
    <div class="row">
      <div class="col-md-8 footer-links">
        {% block footer_nav %}
          <ul class="list-unstyled">
            {% block footer_links %}
            {% endblock %}
          </ul>
          <ul class="list-unstyled">
            {# Remove the links to CKAN API and CKAN ASSOCIATION from the footer of the pages #}
            {% block footer_links_ckan %}
            {% endblock %}

          </ul>
        {% endblock %}
      </div>
      <div class="col-md-2 attribution">
          {# the following blocks were reversed in order before #}
        {% block footer_lang %}
        {% endblock %}
        {% block footer_attribution %}
          <p>{% trans %}<strong>Powered by</strong> <a class="hide-text ckan-footer-logo" href="http://ckan.org">CKAN</a>{% endtrans %}</p>
        {% endblock %}
      </div>
      <div class="col-md-2 attribution"> 
          {# the following blocks were reversed in order before #} 
        {% block footer_attribution_2 %} 
          <p>{% trans %}<strong>Hosted by</strong> <a class="hide-text sigma2-footer-logo" href="http://www.sigma2.no">Sigma2</a>{% endtrans %}</p> 
        {% endblock %} 
      </div> 
    </div>
    {% endblock %}
