{% ckan_extends %} 

{# Modifies the links in the top-menu bars displayed in all pages of the website #} 

{# The code below removes the "dashboard" and "settings" links from the top-bar (masthead), 
leaving only the user name (linked to user profile) and log-out button #} 


{% block header_account_logged %} {% if c.userobj.sysadmin %} 
  <li> 
  <a href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}"> 
    <i class="fa fa-gavel" aria-hidden="true"></i> 
    <span class="text">{{ _('Admin') }}</span> 
  </a> 
</li> 
{% endif %} 
<li> 
  <a href="{{ h.url_for('user.read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}"> 
    {{ h.gravatar((c.userobj.email_hash if c and c.userobj else ''), size=22) }} 
    <span class="username">{{ c.userobj.display_name }}</span> 
  </a> 
</li> 

{% block header_account_log_out_link %} 
<li> 
  <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}"> 
    <i class="fa fa-sign-out" aria-hidden="true"></i> 
    <span class="text">{{ _('Log out') }}</span> 
  </a> 
</li> 
{% endblock %} {% endblock %} 
