{% ckan_extends %}

{% block secondary_content %}
  {% if pkg %}
    <section class="module module-narrow">
      <div class="module context-info">
        <div class="module-content">
          {% block package_info_inner %}
            {% block heading %}
              <h1 class="heading"> Editing metadata for dataset: {{ h.dataset_display_name(pkg) }}</h1>
            {% endblock %}
            {# {% block landing_page_upload %} #}
            {#   {% snippet 'package/snippets/landing_page_upload_form.html', name=pkg.name %} #}
            {# {% endblock %} #}
          {% endblock %}
        </div>
      </div>
    </section>
  {% endif %}
{% endblock %}

