{% extends "package/read_base.html" %}

{% block primary_content_inner %}
  {{ super() }}
  {% block package_description %}
    {% if pkg.private %}
      <span class="dataset-private label label-inverse pull-right">
        <i class="fa fa-lock"></i>
        {{ _('Private') }}
      </span>
    {% endif %}
    <h1>
      {% block page_heading %}
        {{ h.dataset_display_name(pkg) }}
        {% if pkg.state.startswith('draft') %}
          [{{ _('Draft') }}]
        {% endif %}
        {% if pkg.state == 'deleted' %}
          [{{ _('Deleted') }}]
        {% endif %}
      {% endblock %}
    </h1>
  {% endblock %}


  {% block static_description_page %}
    /{{h.landing_page_index(pkg.name)}}
    <div data-module="inject_html"
         data-module-custom_html="/{{h.landing_page_index(pkg.name)}}"</div> 
         {# data-module-custom_html="/landing_pages/{{pkg.name}}/index.html"></div> #}
  {% endblock %}

    <p> {{pkg.name }} </p>

    
  {% block package_tags %}
    {% snippet "package/snippets/tags.html", tags=pkg.tags %}
  {% endblock %}
  

  {% block package_additional_info %}
    {% snippet "package/snippets/additional_info.html", pkg_dict=pkg %}
  {% endblock %}

{% endblock %}

{% block styles %}
  {{ super() }}
  {% resource "cdslandingpage/inject_html.js" %}

{% endblock %}
{# {% block package_info %} #}

{# {% endblock %} #}
