{% ckan_extends %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="/base/css/modal.css" />
{% endblock %}

{% block content_action %}

  {{ super() }} 
  {% if h.check_access('package_update', {'id':pkg.id }) %}
    {% link_for _('Manage'), controller='package', action='edit', id=pkg.name, class_='btn btn-default', icon='wrench' %}
    {% link_for _('Set landing page'), named_route='cdslandingpage.landing_page_upload', pkg_name=pkg.name, class_='btn btn-default', icon='wrench' %}
  {% endif %}

  {# Modal dialog box support #}
  {% if c.handle_request_error %}
    <div class="divModalDialog" id="modal_dialog">
      <div class="modalErrorMessage">
        <p class="text-warning">
          <i class="fa fa-warning"></i>
          {% if c.handle_request_error == "no_requested_data" %}
            <p>No dataset component were selected.  You need to select at least
            one dataset component in order to download.</p>
          {% elif c.handle_request_error == "exceeds_max_zipfile_size" %}
            <p>Combined size of multiple download items must not exceed {{ c.max_zipfile_size }}.  Please
              reduce the number of selected items and try again, or download the desired
              items individually. </p>
          {% endif %}
          <button onclick="document.getElementById('modal_dialog').style.display='none';">OK</button>
      </div>
    </div>
  {% elif c.show_download_dialog %}
    <div class="divModalDialog" id="modal_dialog">
      <div class="modalDownloadForm">
        {% snippet "package/snippets/resource_download_form.html",
                   modal_dialog_id="modal_dialog",
                   res_names = c.selected_resource_names,
                   res_ids = c.selected_resource_ids,
                   countries = c.country_list %} 
      </div>
    </div>
  {% endif %} 
  
{% endblock %} 


{% block secondary_content %}
    {{ super() }}
    {% set dataset_extent = h.get_pkg_dict_extra(c.pkg_dict, 'spatial', '') %}
    {% if dataset_extent %}
        {% snippet "spatial/snippets/dataset_map_sidebar.html", extent=dataset_extent %}
    {% endif %}
{% endblock %}
