<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-info-circle"></i>
    {{ _('What metadata is edited here?') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %}
      This page lets system administrators enter metadata relating to data
      formats, publications, licenses and persons.
      {% endtrans %}
    </p>
    <p>
      {% trans %}
      Moreover, this page allows you to edit data-specifc metadata items.
       {% endtrans %}
    </p>
  </div>
</div>
