{% ckan_extends %}

{# <p>The title of this site is : {{ g.site_title }}.</p> #}
{# <p> The currently enabled plugins are: </p> #}
{# <ul> #}
{#   {% for plugin in g.plugins %} #}
{#     <li> {{ plugin }} </li> #}
{#   {% endfor %} #}
{# </ul> #}

{# {% if g.tracking_enabled %} #}
{#   <p>CKAN's page-view tracking feature is enabled.</p> #}
{# {% else %} #}
{#   <p>CKAN's page-view tracking feature is <i>not</i> enabled.</p> #}
{# {% endif %}  #}

{# {\# This text will not appear in the output when this template is rendered. #\} #}


