<section class="additional-info">
  <h3>{{ _('Additional Info') }}</h3>
  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th scope="col">{{ _('Field') }}</th>
        <th scope="col">{{ _('Value') }}</th>
      </tr>
    </thead>
    <tbody>
      {% block package_additional_info %}
        {% if pkg_dict.url %}
          <tr>
            <th scope="row" class="dataset-label">{{ _('Source') }}</th>
            {% if h.is_url(pkg_dict.url) %}
              <td class="dataset-details" property="foaf:homepage">{{ h.link_to(pkg_dict.url, pkg_dict.url, rel='foaf:homepage', target='_blank') }}</td>
            {% else %}
              <td class="dataset-details" property="foaf:homepage">{{ pkg_dict.url }}</td>
            {% endif %}
          </tr>
        {% endif %}

        {% if pkg_dict.author_email %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Author") }}</th>
            <td class="dataset-details" property="dc:creator">{{ h.mail_to(email_address=pkg_dict.author_email, name=pkg_dict.author) }}</td>
          </tr>
        {% elif pkg_dict.author %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Author") }}</th>
            <td class="dataset-details" property="dc:creator">{{ pkg_dict.author }}</td>
          </tr>
        {% endif %}

        {% if pkg_dict.maintainer_email %}
          <tr>
            <th scope="row" class="dataset-label">{{ _('Maintainer') }}</th>
            <td class="dataset-details" property="dc:contributor">{{ h.mail_to(email_address=pkg_dict.maintainer_email, name=pkg_dict.maintainer) }}</td>
          </tr>
        {% elif pkg_dict.maintainer %}
          <tr>
            <th scope="row" class="dataset-label">{{ _('Maintainer') }}</th>
            <td class="dataset-details" property="dc:contributor">{{ pkg_dict.maintainer }}</td>
          </tr>
        {% endif %}

        {% if pkg_dict.version %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Version") }}</th>
            <td class="dataset-details">{{ pkg_dict.version }}</td>
          </tr>
        {% endif %}

        {% if h.check_access('package_update',{'id':pkg_dict.id}) %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("State") }}</th>
            <td class="dataset-details">{{ _(pkg_dict.state) }}</td>
          </tr>
        {% endif %}
        {% if pkg_dict.metadata_modified %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Last Updated") }}</th>
            <td class="dataset-details">
                {% snippet 'snippets/local_friendly_datetime.html', datetime_obj=pkg_dict.metadata_modified %}
            </td>
          </tr>
        {% endif %}
        {% if pkg_dict.metadata_created %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Created") }}</th>

            <td class="dataset-details">
                {% snippet 'snippets/local_friendly_datetime.html', datetime_obj=pkg_dict.metadata_created %}
            </td>
          </tr>
        {% endif %}

        {# ============================= Show project type ============================ #}

        <tr>
          <th scope="row" class="dataset-label">{{ _("Project type") }}</th>
          <td class="dataset-details">
            {{ pkg_dict.project_type }} 
          </td>
        </tr>

        {# ============================= Show access level ============================ #}
        <tr>
          <th scope="row" class="dataset-label">{{ _("Access level") }}</th>
          <td class="dataset-details">
            {{ pkg_dict.access_level }} 
          </td>
        </tr>

        {# ============================= Show release date ============================ #}
        <tr>
          <th scope="row" class="dataset-label">{{ _("Release date") }}</th>
          <td class="dataset-details">
            {{ pkg_dict.release_date }}
            {% if h.str_2_date(pkg_dict.release_date).date() > h.date_today() %}
              <i>(Currently embargoed)</i>
            {% endif %}
          </td>
        </tr>

        {# ========================== Show temporal coverage ========================== #}
        <tr>
          <th scope="row" class="dataset-label">{{ _("Period covered by the dataset") }}</th>
          <td class="dataset-details">
            <b>Start:</b> {{ pkg_dict.temporal_coverage_start }} <br>
            <b>End:</b>   {{ pkg_dict.temporal_coverage_end }} 
          </td>
        </tr>
        
        {# =========================== Show contact persons =========================== #}
        
      <tr> 
        <th scope="row" class="dataset-label">{{ _("Contact person(s)") }}</th> 
        <td class="dataset-details">
          {% for person in pkg_dict.contact_person %}
            <a  href="{{ h.url_for('cdsmetadata.view_person_info', id=person[0]) }}">{{ person[1] }}</a> <br>
          {% endfor %}
        </td>
          
      </tr> 

      {# ======================= Show individual contributors ======================= #}
      <tr> 
        <th scope="row" class="dataset-label">{{ _("Contributors (individuals)") }}</th> 
        <td class="dataset-details">
          {% for person in pkg_dict.person_contributor %}
            <a  href="{{ h.url_for('cdsmetadata.view_person_info', id=person[0]) }}">{{ person[1] }}</a> <br>
          {% endfor %}
        </td>

      </tr> 


      {# ====================== Show organizational contribtors ====================== #}
      <tr> 
        <th scope="row" class="dataset-label">{{ _("Contributors (organizations)") }}</th> 
        <td class="dataset-details">
          {% for org in pkg_dict.org_contributor %}
            <a href="{{ h.url_for(controller='organization', action='read', id=org[0]) }}">{{ org[1] }}</a> <br>
          {% endfor %}
        </td>
      </tr> 

      {# =========================== Show related datasets =========================== #}
      <tr>
        <th scope="row" class="dataset-label">{{ _("Related datasets") }}</th>
        <td class="dataset-details">
          {% for dset in pkg_dict.related_dataset %}
            <a href="{{ h.url_for(controller='package', action='read', id=dset[0]) }}">{{ dset[1] }}</a> <br>
          {% endfor %}
        </td>
        
      </tr>

      {# ================================= Show DOI ================================= #}
      <tr>
        <th scope="row" class="dataset-label">{{ _("Digital Object Identifier (DOI)") }}</th>
        <td class="dataset-details">
          <a href="https://doi.org/{{pkg_dict.doi}}"> {{ pkg_dict.doi }}</a>
        </td>
      </tr>
      
      
      {# =========================== Show extras (unused) =========================== #}

      {% block extras scoped %}
        {% for extra in h.sorted_extras(pkg_dict.extras) %}
          {% set key, value = extra %}
          <tr rel="dc:relation" resource="_:extra{{ i }}">
            <th scope="row" class="dataset-label" property="rdfs:label">{{ _(key) }}</th>
            <td class="dataset-details" property="rdf:value">{{ value }}</td>
          </tr>
        {% endfor %}
      {% endblock %}

      {% endblock %}
    </tbody>
  </table>

  {# ============================= Publication table ============================= #}

  <h3>{{ _('Reference list') }}</h3>
  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th scope="col">{{ _('Title') }}</th>
        <th scope="col">{{ _('DOI') }}</th>
      </tr>
    </thead>
    <tbody>
      {% for pub in pkg_dict.publications %}
        <tr>
          <td> <a href="{{ h.url_for('cdsmetadata.view_publication', id=pub[0]) }}">{{ pub[1] }}</a> </td> {# title #}
          <td> <a href="https://doi.org/{{pub[2]}}">{{ pub[2] }}</a> </td> {# DOI #}
        </tr>
      {% endfor %}
    </tbody>
  </table>




  
</section>
