{% import 'macros/form.html' as form %}
{% import 'formext.html' as formext %}


{% block package_metadata_fields %}

  {# ======================= Input contributors (persons) ======================= #}
  {% set person_contributor = c.pkg_dict['person_contributor'] %}
  {% set person_contributor_listitems = h.personlist(person_contributor) %}
  {# {% set person_contributor_listitems = h.personlist(data.person_contributor) %} #}
  
  <div class="col-xs-6">
    <div onclick="multiselect_synclist('person_contributor', 'person_contributor-list')">
      <i>(hold down CTRL for multiselect)</i>
      {{ formext.multiselect('person_contributor', 
                               label=_('Update personal contributors'), 
                               error=errors.person_contributor, 
                               classes='control-large', 
                               attrs={'multiple': 'true', 'style': 'width: 100%'}, 
                               options=person_contributor_listitems) }}
      </div>
      <b>Currently chosen person contributors</b>
      <div id="person_contributor-list">
        {% for per in person_contributor %}
          <li> {{ per[1] }} </li>
        {% endfor %} 
      </div>
  </div>


  {# ==================== Input contributors (organizations) ==================== #}
  {% set org_contributor = c.pkg_dict['org_contributor'] %}
  {% set org_contributor_listitems = h.orglist(org_contributor) %}
  {# {% set org_contributor_listitems = h.orglist(data.org_contributor) %} #}

  <div class="col-xs-6">
    <div onclick="multiselect_synclist('org_contributor', 'org_contributor-list')">
      <i>(hold down CTRL for multiselect)</i>
      {{ formext.multiselect('org_contributor', 
                               label=_('Update organization contributors'), 
                               error=errors.org_contributor, 
                               classes='control-large', 
                               attrs={'multiple': 'true', 'style': 'width: 100%'}, 
                               options=org_contributor_listitems) }}
      </div>
      <b>Currently chosen organization contributors</b>
      <div id="org_contributor-list">
        {% for per in org_contributor %}
          <li> {{ per[1] }} </li>
        {% endfor %} 
      </div>
  </div>

  <div style="clear: both;"><br><br></div>

  {# ========================== Input contact person(s) ========================== #}
  {# {% set contact_person_listitems = h.personlist(data.contact_person) %} #}
  {% set contact_person = c.pkg_dict['contact_person'] %}
  {% set contact_person_listitems = h.personlist(contact_person) %}

  <div class="col-xs-6">
    <div onclick="multiselect_synclist('contact_person', 'contact_person-list')">
      <i>(hold down CTRL for multiselect)</i>
      {{ formext.multiselect('contact_person', 
                             label=_('Update contact person(s)'), 
                             error=errors.contact_person, 
                             classes='control-large', 
                             attrs={'multiple': 'true', 'style': 'width: 100%'}, 
                             options=contact_person_listitems) }}
      </div>
      <b>Currently chosen contact person(s)</b>
      <div id="contact_person-list">
        {% for per in contact_person %}
          <li> {{ per[1] }} </li>
        {% endfor %} 
      </div>
  </div>

  {# ========================= Input related datasets() ========================= #}
  {% set related_dataset = c.pkg_dict['related_dataset'] %}
  {% set related_dataset_listitems = h.dsetlist(related_dataset) %} 
  
  <div class="col-xs-6">
    <div onclick="multiselect_synclist('related_dataset', 'related_dataset-list')">
      <i>(hold down CTRL for multiselect)</i>
      {{ formext.multiselect('related_dataset', 
                             label=_('Update list of related datasets'), 
                             error=errors.related_dataset, 
                             classes='control-large', 
                             attrs={'multiple': 'true', 'style': 'width: 100%'}, 
                             options=related_dataset_listitems) }}
      </div>
      <b>Currently chosen contact person(s)</b>
      <div id="related_dataset-list">
        {% for dset in related_dataset %}
          <li> {{ dset[1] }} </li>
        {% endfor %} 
      </div>
  </div>
  
  <div style="clear: both;"><br><br></div>  

  {# ============================= Input references ============================= #}

  {% set publications = c.pkg_dict['publications'] %}
  {% set publications_listitems = h.publist(publications) %} 
  {# {% set publications_listitems = h.publist(data.publications) %}  #}
  
  <div onclick="multiselect_synclist('publications', 'publication-list')">
    <i>(hold down CTRL for multiselect)</i>
    {{ formext.multiselect('publications', 
                           label=_('Update publication list'), 
                           error=errors.publication, 
                           classes='control-large', 
                           attrs={'multiple': 'true', 'style': 'width: 100%'}, 
                           options=publications_listitems) }}
  </div>
  <b>Currently chosen publications</b>
  <div id="publication-list">
    {% for per in publications %}
      <li> {{ per[1] }} </li>
    {% endfor %} 
  </div>
  
  <br><br>

  
  {# ===================== Old CKAN metadata (what to keep) ===================== #}
  
  {% block package_metadata_fields_url %}
    {{ form.input('url', label=_('Source'), id='field-url', placeholder=_('http://example.com/dataset.json'), value=data.url, error=errors.url, classes=['control-medium']) }}
  {% endblock %}

  {% block package_metadata_fields_version %}
    {{ form.input('version', label=_('Version'), id='field-version', placeholder=_('1.0'), value=data.version, error=errors.version, classes=['control-medium']) }}
  {% endblock %}

  {% block package_metadata_author %}
    {{ form.input('author', label=_('Author'), id='field-author', placeholder=_('Joe Bloggs'), value=data.author, error=errors.author, classes=['control-medium']) }}

    {{ form.input('author_email', label=_('Author Email'), id='field-author-email', placeholder=_('joe@example.com'), value=data.author_email, error=errors.author_email, classes=['control-medium']) }}
  {% endblock %}

  {% block package_metadata_fields_maintainer %}
    {{ form.input('maintainer', label=_('Maintainer'), id='field-maintainer', placeholder=_('Joe Bloggs'), value=data.maintainer, error=errors.maintainer, classes=['control-medium']) }}

    {{ form.input('maintainer_email', label=_('Maintainer Email'), id='field-maintainer-email', placeholder=_('joe@example.com'), value=data.maintainer_email, error=errors.maintainer_email, classes=['control-medium']) }}
  {% endblock %}

  {% block package_metadata_fields_custom %}
    {% block custom_fields %}
      {# {% snippet 'snippets/custom_form_fields.html', extras=data.extras, errors=errors, limit=3 %} #}
    {% endblock %}
  {% endblock %}

  {% block dataset_fields %}
  {% endblock %}

{% endblock %}
