{% ckan_extends %}

{% block metadata_fields %}
  {% set resource_classes = h.resource_categories() %}


  {# ======================= Input purpose and assumptions ======================= #}
    <i class="fa fa-info-circle"></i>
    <i>Explain the main purpose or intended use for which the data was prepared</i>
    {{ form.markdown('purpose', id='field-purpose', label=_('Purpose'),
                      value = data.purpose,
                      placeholder = 'Main purpose or intended use',
                      error=errors.purpose,
                      classes='control-large') }}
    
    <i class="fa fa-info-circle"></i>
    <i>Explain any important assumptions to be aware of when using the data</i>
    {{ form.markdown('assumptions', id='field-assumptions', label=_('Assumptions'),
                  value = data.assumptions,
                  placeholder = 'List assumptions here',
                  error=errors.assumptions,
                  classes='control-large') }}
    
  {# =============================== Input sources ============================== #}
  <i class="fa fa-info-circle"></i>
  <i>
    Input a list of (data) sources that went into producing this data component.
    List each source on a separate line, on the form &lt;name&gt;, &lt;uri&gt;
  </i>
  {{form.textarea('sources', id='field-sources', label=_('Data sources'),
                  value=data.sources,
                  placeholder=
                  '<source 1 name> , <source 1 URI>\n<source 2 name> , <source 2 URI>',
                  error=errors.sources, classes='control-large') }}           
  
  
  {# ============================== Input category ============================== #}
  <i class="fa fa-info-circle"></i>
  <i>Choose as specific as possible.  For an overview of the classifcation,
    click <a href="{{ h.url_for('cdsmetadata.resource_categories') }}" target="_blank">here</a>.
  </i>
    
  {{ form.select('category', id='field-category', label=_('Resource category'),
                 options=resource_classes, 
                 selected=data.category or resource_classes[0].value,
                 error=errors.category,
                 classes='control-large') }}
  
    
{% endblock %}
