{# 
Renders a list of resources with icons and view links.

resources - A list of resources to render
pkg - A package object that the resources belong to.

Example:

  {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources %}

#}


{# This file creates the checkbox form to select multiple resources for download #}

{# Check the presence of any externally stored dataset components #}

{% set foundExternal = {'flag': False} %}

{% if resources %}
  {% for resource in resources %}
    {% if not resource.url_type %}
      {% if foundExternal.update({'flag': True})%}{% endif %}
    {% endif %}
  {% endfor %}
{% endif %}

<section id="dataset-resources" class="resources">
  <h3>{{ _('Download dataset parts') }}</h3>
  {% if foundExternal.flag %}
    <p><em>NB: Dataset parts without adjacent checkboxes are stored outside the
  portal and must be downloaded separately.  Click on an item to download
  directly from its informational page.</em></p>  {% endif %}
    <br>
    {% block resource_list %}
      {% if resources %}
        <ul class="{% block resource_list_class %}resource-list{% endblock %}">
          {% block resource_list_inner %}
            {% set has_access = h.check_access('resource_download', {'id': resources[0]['id']}) %}
            {% set can_edit = h.check_access('package_update', {'id':pkg.id }) %} 
            {# <form action="/screen_download_request" method="POST"> #}
            <form method="POST"> 
              {% for resource in resources %}
                <div style="white-space: nowrap;">  
                  <div style="display: inline-block; white-space: normal;">
                    {% snippet 'package/snippets/resource_item.html',
                               pkg=pkg, res=resource, has_access=has_access, can_edit=can_edit %}
                  </div>
                  <br> 
                </div>
              {% endfor %}
              <br>
              
              {% if has_access %}
                {% set license = h.get_license(pkg.cdslicense) %}
                <input type="checkbox" required>
                By clicking this I confirm that I have read and accepted this dataset's
                {% if license %}
                  <a target=_blank href="{{ h.url_for('cdsmetadata.view_license', id=license.id) }}" rel="dc:rights">
                    licence requirements.
                  </a>
                {% else %}
                  license requirements.
                {% endif %}
                <br>
                <br>
                <div style="text-align: center;">
                  <input type="button" value="Select all" onclick="select_all_resources(this)"
                         style="width:150px;">
                         <br><br>
                         <input type="submit" value="Download selected" style="width:150px;"]>
                </div>
              {% endif %}
            </form>
          {% endblock %}
        </ul>
      {% else %}
        {% if h.check_access('resource_create', {'package_id': pkg['id']}) %}
            {% trans url=h.url_for(controller='package', action='new_resource', id=pkg.name) %}
              <p class="empty">This dataset has no data, <a href="{{ url }}">why not add some?</a></p>
            {% endtrans %}
        {% else %}
            <p class="empty">{{ _('This dataset has no data') }}</p>
        {% endif %}
      {% endif %}
    {% endblock %}
</section>

