{% ckan_extends %}

{% block organization_extras %}

{# We annex this block to present information about relations to people and datasets #}

  <h2> Organization contact person(s)</h2>
  <table class="table table-striped table-bordered table-condensed">
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
    {% for contact in c.group_dict.contact_person %}
      <tr>
        <td>
          <a href="{{ h.url_for('cdsmetadata.view_person_info', id=contact[0]) }} ">
             {{ contact[1] }}
          </a>
        </td>
        <td> {{ contact[2] }} </td>
      </tr>
  {% endfor %} 
  </table>

  <h2> Affiliates </h2>
  <table class="table table-striped table-bordered table-condensed">

    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
    {% for contact in c.group_dict.people %}
      <tr>
        <td>
          <a href="{{ h.url_for('cdsmetadata.view_person_info', id=contact[0]) }} ">
             {{ contact[1] }}
          </a>
        </td>
        <td> {{ contact[2] }} </td>
      </tr>
  {% endfor %} 
  </table>
  
  <h2> Datasets contributed to </h2>
  <table class='table'>

    <tr>
      <th>Name</th>
      <th>Owning organization</th>
    </tr>
    {% for dset in c.group_dict.datasets_contributed_to %}
      <tr>
        <td>
          <a href="{{ h.url_for(controller='package', action='read', id=dset[0]) }}">
            {{ dset[1] }}
          </a>
        </td>
        <td>
          {{ dset[2] }}
        </td>
      </tr>
  {% endfor %} 
  </table>
  
  
{% endblock %}
