<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-info-circle"></i>
    {{ _('What are Organizations?') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %} Organizations are the owners and managers of reference
      datasets in the CO2 DataShare portal.  Information about organization
      include name, description, contact person and homepage URL.  In addition,
      a logo can be uploaded.  {% endtrans %}
    </p>
  </div>
</div>
